<%= form_for @feet_leg_weapon do |f| %>

  <% if @feet_leg_weapon.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@feet_leg_weapon.errors.count, "error") %> prohibited
        this feet_leg_weapon from being saved:
      </h2>
      <ul>
        <% @feet_leg_weapon.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :japanese_name %>
    <%= f.text_field :japanese_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :english_name %>
    <%= f.text_field :english_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit :class => "btn btn-default"%>
  </div>
<% end %>
