<%= form_for @hand_arm_technique do |f| %>

  <% if @hand_arm_technique.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@hand_arm_technique.errors.count, "error") %> prohibited
        this hand_arm_technique from being saved:
      </h2>
      <ul>
        <% @hand_arm_technique.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :japanese_name %>
    <%= f.text_field :japanese_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :english_name %>
    <%= f.text_field :english_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :offensive_or_defensive %>
    <%= f.text_field :offensive_defensive, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :type_of_technique %>
    <%= f.text_field :type_technique, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit :class => "btn btn-default"%>
  </div>
<% end %>
